@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

body{
    background-image: url(../img/gym.jpg);
    background-size: cover;
}

.container{
    width: 90%;  
    margin-left: 5%;
}

.header{
    background-color: rgba(220, 220, 220, 0.5);
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.logo{   
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-family: 'Michroma', sans-serif;
    font-size: 50.7px;
    flex-grow: 1;
    padding-left: 1%;
    padding-bottom: 0.5%;
}

.logo a{
    text-decoration: none;
    color: black;
}

.mainav{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: black;
    flex-grow: 7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav a{
    text-decoration: none;
    color: black;
    font-family: 'Michroma', sans-serif;
    border-radius: 10px;
}

.nav a:hover{
    color: rgb(176, 236, 255);
    transition: 0.7s;
}

.logo a:hover{
    color: aqua;
    transition: 0.7s;
}

.grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gridtop{
    font-family: 'Michroma', sans-serif;
    text-align: center;
    color: white;
}

.gridcontent{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.musculacao{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/musculacao.jpg);
    background-size: cover;
    background-position: center;
    width: 22%;
    color: white;
    font-family: 'Michroma', sans-serif;    
    min-width: 200px;
    min-height: 200px;
}

.natacao{
    background-image: url(../img/natacao.jpg);
    background-size: cover;
    background-position: center;
    width: 22%;
    color: white;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    min-width: 200px;
    min-height: 200px;
}

.pilates{
    background-image: url(../img/pilates.jpg);
    background-size: cover;
    background-position: center;
    width: 22%;
    color: white;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    min-width: 200px;
    min-height: 200px;
}

.hidroginastica{
    background-image: url(../img/hidroginastica.jpg);
    background-size: cover;
    background-position: center;
    width: 22%;
    color: white;
    font-family: 'Michroma', sans-serif;
    text-align: center;
    min-width: 200px;
    min-height: 200px;
}